
.button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.contact-form label, .contact-form input, .contact-form select, .contact-form textarea {
    display: block;
    border: none;
    width: 100%;
    margin-top: 8px;
    transition: border 0.3s ease-in-out;
}
.contact-form input, .contact-form select, .contact-form textarea {
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
}
.contact-form input:hover{
    border: 1px solid #ccc;

}
.office-location {
    margin-top: 10px;
}
.office-location h3 {
    font-size: 1.2em;
    margin-top: 10px;
}
.office-location p {
    margin: 5px 0;
}

.content-box2 {
    width: 60%;
    margin: 30px auto;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 30px;
    color:#fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

input, select, textarea, option {
    padding: 12px;
    border-radius: 6px;
    
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    font-size: 14px;
    color: white;
    margin-top: 8px;
    transition: border-color 0.3s ease border 0.3s ease-in-out;
}

input::placeholder{
    color:white;
    opacity: 0.5;
}
input:focus, select:focus, textarea:focus {
    border-color: #0073e6;
    outline: none;
}
input, select, textarea:hover{
    border: 1px solid #ccc;
}
button.submit-btn {
    background-color: #0073e6;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

button.submit-btn:hover {
    background-color: #005bb5;
}

textarea {
    resize: none;
}

@media screen and (max-width: 768px) {
    .content-box {
        width: 90%;
    }
}

.location-box{
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    padding: 50px;
    background: linear-gradient(to right,  rgba(18,16,21, 0.75) 50%, rgba(18,16,21, 0.75) 50%), url('images/karatejaffna2.jpeg') right center;
    background-size: cover;
}
/* General styling for the container */
.media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    gap: 20px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Styling for individual social media buttons */
.social {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.social a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* Facebook-specific styling */
.fb {
    background-color: #3b5998;
}

.fb:hover {
    background-color: #4c70ba;
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Twitter-specific styling */
.twitter {
    background-color: #1DA1F2;
}

.twitter:hover {
    background-color: #0d8bf2;
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Instagram-specific styling */
.instagram {
    background: radial-gradient(circle at 30% 30%, #f58529, #dd2a7b, #8134af, #515bd4);
}

.instagram:hover {
    background: radial-gradient(circle at 30% 30%, #f67e4d, #e63a8a, #9741c4, #606be0);
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}


@media (max-width:768px){
    .media{
        width: 70vw;
    }
    .content-box2{
        width: 80vw;
    }
}